/* Proximos Eventos section */

.proxEvents{
    width: 100%;
    box-shadow: 0px 0px 18px #1A1A1A inset;
    padding-bottom: 30px;

    .proxEvents__container{
        @include container (85%, 100%, 0 auto, flex);
        flex-direction: column;

        .proxEvents__description{
            text-align: center;
            color: #777;
            font-size: 20px;
            margin-bottom: 20px;
        }
        .borde{
            border-top: 1px $secondarycolor solid;
        }
        .proxEvents__content{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            border-bottom: 1px $secondarycolor solid;
            padding: 30px 0px;

            .proxEvents__day{
                width: 5%;
                min-width: 105px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .proxEvents__day h4{
                columns: $primarycolor;
                font-size: 40px;
                font-weight: bold;
            }
            .proxEvents__day p{
                color: $secondarycolor;
            }
            .proxEvents__location{
                width: 30%;
                min-width: 422px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                .proxEvents__img{
                    width: 120px;
                    height: 120px;
                    margin-right: 50px;
                }
                .proxEvents__img img{
                    width: map-get($imgSize, width);
                    height: map-get($imgSize, height);
                }
                .proxEvents__text h4{
                    font-size: 30px;
                    color: $primarycolor;
                }
                .proxEvents__text p{
                    font-size: 20px;
                    color: $secondarycolor;
                }
            }
            .proxEvents__schedule{
                width: 10%;
                min-width: 211px;
                min-height: 120px;
                height: 160px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .proxEvents__schedule h4{
                font-size: 25px;
                color: $primarycolor;
            }
            .proxEvents__schedule p{
                color: $secondarycolor;
                font-size: 20px;
            }
            .proxEvents__price{
                @extend .proxEvents__schedule;
            }
            .proxEvents__price h4{
                font-size: 25px;
                color: $primarycolor;
            }
            .proxEvents__price p{
                color: $secondarycolor;
                font-size: 20px;
            }
            .proxEvents__button{
                @extend .proxEvents__schedule;
            }
            .proxEvents__button button{
                padding: 20px 40px;
                border: none;
                background-color: $secondarycolor;
                color: $fontcolor;
                border-radius: 8px;
                cursor: pointer;
            }
        }
    }
}
@media (max-width: 496px) {
    .proxEvents__location{
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
    }
    .proxEvents__img{
        margin-left: 50px;
    }
}