/* Table Price Section*/

.tablePrice{
    width: 100%;
    box-shadow: 0px 0px 18px #1A1A1A inset;
    padding-bottom: 30px;

    .tablePrice__container{
        @include container (85%, 100%, 0 auto, flex);
        flex-wrap: wrap;
        justify-content: center;
        
        .tablePrice__offer{
            width: 20%;
            min-width: 150px;
            height: 650px;
    
            .tablePrice__price{
                width: 100%;
                height: 150px;
                background-color: $secondarycolor;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
            }
            .tablePrice__price p{
                color: $fontcolor;
            }
            .tablePrice__price h3{
                font-size: 40px;
                color: $fontcolor;
            }
            .tablePrice__itemOne{
                width: 100%;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                border-bottom: 1px #777 solid;
            }
            .tablePrice__itemTwo{
                @extend .tablePrice__itemOne;
            }
            .tablePrice__itemThree{
                @extend .tablePrice__itemOne;
            }
            .tablePrice__itemFour{
                @extend .tablePrice__itemOne;
            }
            .tablePrice__itemFive{
                @extend .tablePrice__itemOne;
            }
            .tablePrice__itemSix{
                @extend .tablePrice__itemOne;
            }
            .tablePrice__itemSeven{
                @extend .tablePrice__itemOne;
                border-bottom: none; 
            }
            .tablePrice__itemSeven button{
                padding: 15px 20px;
                border: none;
                background-color: $secondarycolor;
                color: $fontcolor;
                border-radius: 8px;
                cursor: pointer;
            }
            .tablePrice__itemOne
            .tablePrice__itemTwo
            .tablePrice__itemThree
            .tablePrice__itemFour
            .tablePrice__itemFive
            .tablePrice__itemSix p{
                font-size: map-get($tablePrice__itemOne , font-size);
                color: map-get($tablePrice__itemOne , color);
            }
            .active{
                background-color: #1A1A1A; 
            }
        }
    }
}
@media (max-width: 1030px) {
    .active h3{
        font-size: 30px !important;
    }
}
