/* Main Section */

main{
    background-image: url(../img/header.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

        .main_content{
            height: 80%;
            display: grid;
            grid-template-columns: repeat(8 , 1fr);
            grid-template-rows: repeat(6 , 1fr);
        }
        .main_content h2{
            color: white;
            font-size: 80px;
        }
        .main_content h2:nth-child(1){
            grid-column: 2/6;
        }
        .main_content h2:nth-child(2){
            grid-column: 4/6;
            grid-row: 3/4;
        }
        .main_content h2:nth-child(3){
            grid-column: 5/7;
            grid-row: 4/5;
        }
    
}
@media (min-width: 320px) {
    .main_content h2{
        font-size: 60px;
    }
    .main_content h2:nth-child(1){
        grid-column: 2/9;
        grid-row: 2/3;
        font-size: 48px;
    }
    .main_content h2:nth-child(2){
        grid-row: 4/5;
        grid-column: 3/9;
    }
    .main_content h2:nth-child(3){
        grid-row: 5/6;
        grid-column: 3/9;
    }
}
@media (min-width: 420px) {
    .main_content h2{
        font-size: 70px;
    }
    .main_content h2:nth-child(1){
        font-size: 65px;
    }
}
@media (min-width: 560px) {
    .main_content h2:nth-child(2){
        grid-column: 6/9;
    }
    .main_content h2:nth-child(3){
        grid-column: 6/9;
    }
}
@media (min-width: 996px) {
    .main_content h2{
        font-size: 80px;
    }
    .main_content h2:nth-child(1){
        font-size: 80px;
    }
    .main_content h2:nth-child(3){
        grid-column: 7/9;
    }
}

/* Academy Section */

.academySection{
    width: 100%;
    box-shadow: 0px 0px 18px #1A1A1A inset;
    padding: 70px 0px;

    .academySection__container{
        width: 65%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .academySection__textoPrincipal{
            text-transform: uppercase;
            color: #1A1A1A;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
        }
        .academySection__textoSegundario{
            color: #777;
            text-align: center;
            font-size: 20px;
            margin-bottom: 50px;
        }
        .academySection__nosotros{
            background: none;
            width: 120px;
            padding: 15px;
            text-transform: uppercase;
            border-radius: 5px;
            border: none;
            color: white;
            background-color: #806C92;
            cursor: pointer;
            transition: all 0.3s;
            animation: rotar 2s linear infinite;
        }
        .academySection__nosotros:hover{
            background-color: #594a66;
        }
    }
}
@keyframes rotar {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

  /* Gallery Section */

.gallerySection{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #594a66;

    .gallerySection__nuestraGaleria{
        width: 25%;
        height: 340px;
        min-width: 304px;
        background-color: #806C92;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px;
        transition: all 0.3s;

        .gallerySection__title{
            color: white;
            font-size: 35px;
            text-align: center;
        }
        .gallerySection__texto{
            color: white;
            font-size: 18px;
            text-align: justify;
        }
        .gallerySection__leerMas{
            text-decoration: none;
            text-transform: uppercase;
            font-size: 20px;
            text-align: center;
            color: #594a66;
            transition: all 0.3s;
        }
        .gallerySection__leerMas:hover{
            color: white;
        }
    }
    .gallerySection__imageGallery{
        width: 25%;
        height: 340px;
        min-width: 304px;
    }
    .gallerySection__imageGallery img{
        width: map-get($imgSize, width);
        height: map-get($imgSize, height);
        transition: all 0.3s;
    }
    .gallerySection__imageGallery img:hover, 
    .gallerySection__nuestraGaleria:hover{
        transform: scale(1.04);
    }
}

/* Course Section */

.cursos h4{
    width: 100%;
    height: 50px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}
.cursos {
    box-shadow: 0px 0px 18px #1A1A1A inset;
    padding: 40px 0px;

    .box{
        width: 85%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;

        .box__content{
            width: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .box__content img{
            width: map-get($imgSize, width);
            height: map-get($imgSize, height);
            border-radius: 8px; 
            box-shadow: 12px 12px 10px #806C92;
            transition: all 0.5s;
            animation: movimiento 2s linear 1;
        }
        .box__content p{
            color: white;
            font-size: 35px;
            width: 160px;
            text-align: center;
            background-color: #594a66;
            border-radius: 0px 5px 0px 5px;
            margin-top: 20px;
        }
        .box__content img:hover{
            transform: scale(1.05);
            transition: all 0.5s;
        }
    }
}
@keyframes movimiento {
    0% {
        transform: translateX(1100px);
    }
    100% {
        transform: translateX(0px);
    }
  }
@media (min-width: 320px) {
    .cursos h4{
        margin-bottom: 80px;
    }
}

/* Conociendo al Profesor Section */

.conociendoAlProfesor{
    width: 100%;
    background-color: #806C92;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .conociendoAlProfesor__foto{
        @extend .conociendoAlProfesor__texto
    }
    .conociendoAlProfesor__foto img{
        padding-top: 10px;
        padding-left: 20px;
        width: map-get($imgSize, width);
        height: map-get($imgSize, height);
    }
    .conociendoAlProfesor__texto{
        width: 530px;
        height: 500px;
        max-width: 530px;

        .conociendoAlProfesor__textoPrincipal{
            color: white;
            font-size: 30px;
            text-transform: uppercase;
            margin: 50px 0px;
            padding: 0px 20px;
        }
        .conociendoAlProfesor__nombre{
            color: white;
            font-size: 25px;
            margin-bottom: 30px;
            padding: 0px 20px;
        }
        .conociendoAlProfesor__descripcion{
            color: white;
            font-size: 20px;
            text-align: justify;
            padding: 0px 20px;
        }
    }
}
@media (min-width: 320px) {
    .conociendoAlProfesor__texto{
        height: 680px;
    }
}
@media (min-width: 360px) {
    .conociendoAlProfesor__texto{
        height: 580px;
    }
}
@media (min-width: 460px) {
    .conociendoAlProfesor__texto{
        height: 500px;
    }
}

/* Reconocimientos Section */

.reconocimientos{
    width: 100%;
    box-shadow: 0px 0px 18px #1A1A1A inset;
    padding: 70px 0px;

    .reconocimientos__container{
        width: 85%;
        margin: 0 auto;
        display: grid;
        gap: 20px;
        grid-template-columns: 1.6fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);

        .reconocimientos__titulo{
            grid-row: 1/4;
        }
        .reconocimientos__titulo h4{
            color: #594a66;
            font-size: 50px;
            text-transform: uppercase;
        }
        .reconocimientos__award{
            height: 170px;
        }
        .reconocimientos__award h4{
            color: #594a66;
            font-size: 18px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        .reconocimientos__award p{
            color: #1A1A1A;
            font-size: 18px;
            text-align: justify;
        }
    }
}
@media (max-width: 1070px) {
    .reconocimientos__container div:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .reconocimientos__container div:nth-child(2){
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .reconocimientos__container div:nth-child(3){
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .reconocimientos__container div:nth-child(4){
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .reconocimientos__container div:nth-child(5){
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .reconocimientos__container div:nth-child(6){
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .reconocimientos__container div:nth-child(7){
        grid-column: 3/4;
        grid-row: 3/4;
    }
}
@media (max-width: 1014px) {
    .reconocimientos__container div:nth-child(4){
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .reconocimientos__container div:nth-child(7){
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .reconocimientos__container div:nth-child(3){
        grid-column: 2/4;
    }
    .reconocimientos__container div:nth-child(6){
        grid-column: 2/4;
    }
}
@media (max-width: 812px) {
    .reconocimientos__container div:nth-child(3){
        grid-column: 1/2;
        grid-row: 6/7;
    }
    .reconocimientos__container div:nth-child(6){
        grid-column: 1/2;
        grid-row: 7/8;
    }
}
@media (max-width: 516px) {
    .reconocimientos__container{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 516px) {
    .reconocimientos__titulo h4{
        font-size: 30px;

    }
}