/* Variables */

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
$primarycolor: #1A1A1A;
$secondarycolor: #806C92;
$tertiarycolor: #594a66;
$fontcolor: white;

$imgSize: ( width: 100%, height: 100%);